<!DOCTYPE html>
<html>
<html ng-app="todo">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Todo App</title>
<link rel="stylesheet" href="bootstrap.min.css"><!-- load bootstrap -->
<style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
      <script src="/node_modules/angular/angular.js"></script>
      <script src="core.js"></script>

</head>

<body ng-controller="mainController">
  <div class="container">
    <div class="jumbotron text-center">
            <h1><span class="label label-info">{{ todos.length }}</span> TODO TASK</h1>
        </div>
        <div id="todo-list" class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="checkbox" ng-repeat="todo in todos">
                        <label>
                            <input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.text }}
                        </label>
                    </div>

                </div>
            </div>
            <div id="todo-form" class="row">
                 <div class="col-sm-8 col-sm-offset-2 text-center">
                     <form>
                         <div class="form-group">
                             <input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.text">
                         </div>

                        <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
                     </form>
                 </div>
             </div>
       </div>


</body>
</html>
